body {
  text-align: left;
  background-color: aliceblue;
}

.container {
  max-width: 600px;
  background-color: rgb(255, 255, 255);
  display: block;
  margin: 0 auto;
  padding-right: 40px;
  padding-left: 40px;
  padding-bottom: 30px;
  padding-top: 15px;
  margin-top: 50px;
  border-radius: 15px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

footer {
  text-align: center;
  margin: 20px;
}
