body {
  text-align: left;
  background-color: aliceblue;
}

.container {
  max-width: 600px;
  background-color: rgb(255, 255, 255);
  display: block;
  margin: 0 auto;
  padding-right: 40px;
  padding-left: 40px;
  padding-bottom: 30px;
  padding-top: 15px;
  margin-top: 50px;
  border-radius: 15px;
  box-shadow: 1px 1px 5px 2px rgb(206, 206, 206, 0.4);
}

footer {
  text-align: center;
  margin: 20px;
}
